<div class="project-slider">
    <div class="options">
        <div class="option active" style="--optionBackground:url(/assets/images/cross.jpeg);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <b>C</b>
            </div>
            <div class="info">
                <a href="/projects/#cross-counter-response-online-suggestion-system-cross-leveraging-linguistic-artificial-intelligence-to-help-users-counter-gray-areas-of-online-toxicity"><div class="main">Counter Response Online Suggestion System (CROSS)</div></a>
                <div class="sub">Leveraging Linguistic Artificial Intelligence to Help Users Counter Gray Areas of Online Toxicity. This is a test of the wrapping.</div>
            </div>
        </div>
        </div>

        <div class="option" style="--optionBackground:url(/assets/images/semantic_polarization.png);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-expand-arrows-alt"></i>
            </div>
            <div class="info">
                <a href="/projects/#same-work-different-meanings-semantic-polarization-in-broadcast-media-language"><div class="main">Same Words, Different Meanings: Semantic Polarization in Broadcast Media Language</div></a>
                <div class="sub">We adapt methodological intuitions from such prior work to develop a new technique to quantify how semantic polarization evolves over time.</div>
            </div>
        </div>
        </div>

        <div class="option" style="--optionBackground:url(/assets/images/police_escalation.png);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-user-shield"></i>
            </div>
            <div class="info">
                <a href="/projects/#using-interpretable-nlp-and-experimental-participant-studies-to-understand-the-role-of-officer-speech-in-escalated-traffic-stops-of-black-drivers"><div class="main">Using Interpretable NLP and Experimental Participant Studies to Understand the Role of Officer Speech in Escalated Traffic Stops of Black Drivers</div></a>
                <div class="sub">We examine whether traffic stops where the driver is eventually searched, handcuffed, or arrested are distinguished in the earliest moments of the encounter.</div>
            </div>
        </div>
        </div>

        <div class="option" style="--optionBackground:url(/assets/images/health_mandate.png);">
        <div class="shadow"></div>
        <div class="label">
            <div class="icon">
                <i class="fas fa-ambulance"></i>
            </div>
            <div class="info">
                <a href="/projects/#investigating-intergroup-biases-across-gists-in-health-mandate-resistance"><div class="main">Investigating Intergroup Biases Across Gists in Health Mandate Resistance</div></a>
                <div class="sub">We investigate the language surrounding extreme resistance towards government-mandated health practices through the lens of fuzzy-trace theory and its central concept of gist to better understand risk perceptions and communicative patterns contributing to people’s attitude and decisions around health mandates (HMs).</div>
            </div>
        </div>
        </div>
    </div>
</div>