<figure class="team-photos">
    <div class="team-photos-img">
        <img src="assets/images/Rho_c-150x150.png" alt="Dr. Eugenia Rho"/>
        <p>Dr. Eugenia Rho</p>
    </div>
    <div class="team-photos-img">
        <img src="assets/images/Ding_c-150x150.png" alt="Xiaohan Ding (PhD)"/>
        <p>Xiaohan Ding (PhD)</p>
    </div>
    <div class="team-photos-img">
        <img src="assets/images/Buse_c-150x150.png" alt="Buse Carik (PhD)"/>
        <p>Buse Carik (PhD)</p>
    </div>
    <div class="team-photos-img">
        <img src="assets/images/Ping_c-150x150.png" alt="Kaike Ping (PhD)"/>
        <p>Kaike Ping (PhD)</p>
    </div>
    <div class="team-photos-img">
        <img src="assets/images/Anisha_c-150x150.png" alt="Anisha Kumar (MS)"/>
        <p>Anisha Kumar (MS)</p>
    </div>
</figure>

<!-- Script for adding margin when wrapping -->
<script src='assets/js/team.js'></script>