//-----------------------------
// Course
//-----------------------------
.course{

    #main {
      display: flex;
      justify-content: center;
    }
  
    .videos * {
      margin-bottom: 0.5em;
    }
  
    table p {
      margin-bottom: 0;
    }
  
    td {
      border: 1px solid #9b9f9e;
    }
  }