---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//-----------------------------
// GLOBAL CHANGES
//-----------------------------

.page {
  width: 100%;
}

//-----------------------------
// Masthead
//-----------------------------
a.site-title {
    color: $primary-color;
}

//-----------------------------
// Home
//-----------------------------

.home {
  .rho-profile-header {
    display: flex;
    align-items: center;

    img {
      max-height: 300px;
      width: auto;
      // border-radius: 50%;
      // object-fit: cover;
    }

    h2 {
      margin-top: 0;
    }

    @media (max-width: 600px) {
      flex-direction: column;
      h2 {
        margin-top: 25px;
      }
    }

    .rho-profile-header-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
}


//-----------------------------
// Press
//-----------------------------



//-----------------------------
// Team photos
//-----------------------------
.team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-photos-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 0.8em;
    margin: 0 10px;

    img {
      border-radius: 50%;
      object-fit: cover;
    }

    p {
      margin-top: 5px;
    }
}

.team-photos p {
  text-align: center;
}

.team-photos a img:hover {
    box-shadow: none !important;
}

//-----------------------------
// Publications
//-----------------------------
.publications {

  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    font-size: 18px;
  }

  .row {
      display: flex;
      align-items: flex-start;
  }

  figure {
      margin: 0 1em 0 0;
  }

  img {
      margin: 0 !important;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .preview {
        flex-shrink: 0;
        margin-top: 5px;

        @media (max-width: 599px) {
          width: 100px;
        }
    
        @media (min-width: 600px) {
          width: 150px;
        }
      }

      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        >em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        >span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        span {
          display: inline-block;
          color: #000;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .bib-hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease; @media (max-width: 599px) {
          .preview img {
            width: 100px;
            height: auto;
          }
        }
      }
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .bib-hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.bib-hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.bib-hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }

//-----------------------------
// Resources
//-----------------------------
.resources{

  // Crop the images in the feature row and center them vertically
  .archive__item-teaser {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .archive__item-teaser img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}

//-----------------------------
// Teaching
//-----------------------------


//-----------------------------
// Course
//-----------------------------
.course{

  #main {
    display: flex;
    justify-content: center;
  }

  .videos * {
    margin-bottom: 0.5em;
  }
}

//-----------------------------
// Research
//-----------------------------


//-----------------------------
// Project Slider
//-----------------------------
.project-slider {
  display: flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top: 20px;
  transition:.25s;

  a {
    color:white;
    text-decoration: none;
  }

  .options {
      display:flex;
      flex-direction:row;
      overflow:hidden;
      justify-content: center;
      min-width:150px;
      max-width:1100px;
      width:calc(100% - 100px);
      min-height:400px;

      @media (max-width: 600px){
        flex-direction: column;
        min-height:500px;
        width:calc(100% - 30px);
      }

      .option {
        flex: 1 1 0px;
        position: relative;
        overflow:hidden;
        min-width:60px;
        min-height:60px;
        margin:0px 10px;
        border:0px solid $primary-color;
        background:var(--optionBackground, var(--defaultBackground, #E6E9ED));
        background-size:auto 100%;
        background-position:center;
        cursor: pointer;
        transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        @media (max-width: 600px){
          background-size: 100% auto;
        }

        &.active {
            max-width:700px;
            margin:0px 10px;
            border-radius:40px;
            @media (max-width: 600px){
              height: auto;
              margin:10px 0px;
            }
            
            .shadow {
              background-color: rgba(0,0,0,0.6);
            }
            .label {
              bottom:20px;
              left:20px;
              .info {
                opacity: 1;
              }
              .info >div {
                  left:0px;
                  opacity:1;
              }
            }
        }
        &:not(.active) {
          flex: 0 1 0px;
          border-radius:30px;
          @media (max-width: 600px){
            height: 60px;
            margin:10px 0px;
          }
          .label {
            bottom:10px;
            left:10px;
            .info {
              opacity: 0;
              transition: opacity .1s ease-out;
            }
            .info >div {
                left:20px;
            }
          }
        }
        .shadow {
            position: absolute;
            bottom:0px;
            left:0px;
            right:0px;
            height:100%;
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
        }
        .label {
            display:flex;
            align-items: flex-end;
            position: absolute;
            right:0px;
            max-width: calc(100% - 50px);
            transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
            .icon {
              display:flex;
              flex-direction:row;
              justify-content:center;
              align-items:center;
              min-width:40px;
              max-width:40px;
              height:40px;
              border-radius:100%;
              background-color: $primary-color;
              color:white;
            }
            .info {
              display:flex;
              flex-direction:column;
              justify-content:center;
              margin-left:10px;
              overflow: hidden;
              color:white;
              white-space: normal;
              transition: opacity 0.5s ease-in;
              >div {
                  position: relative;
                  transition:.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
              }
              .main {
                  font-weight:bold;
                  font-size:1rem;
                  white-space: normal;
              }
              .sub {
                  transition-delay:.1s;
                  font-size:0.7em;
                  white-space: normal;
              }
            }
        }
      }
  }
}