---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

//-----------------------------
// Masthead
//-----------------------------
a.site-title {
    color: rgb(46, 170, 219);
}

//-----------------------------
// Team photos
//-----------------------------
.team-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-photos-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    font-size: 0.7em;
    margin: 0 10px;
}

//-----------------------------
// Publications
//-----------------------------
.publications {

  .page {
    width: 100%;
  }

  .row {
      display: flex;
      align-items: center;
  }

  figure {
      margin: 0 1em 0 0;
  }

  img {
      margin: 0 !important;
  }

  h2 {
    margin-bottom: 1rem;

    span {
      font-size: 1.5rem;
    }
  }

  h2.year {
    color: var(--global-divider-color);
    border-top: 1px solid var(--global-divider-color);
    padding-top: 1rem;
    margin-top: 2rem;
    margin-bottom: -2rem;
    text-align: right;
  }

  ol.bibliography {
    list-style: none;
    padding: 0;
    margin-top: 0;

    li {
      margin-bottom: 1rem;

      .preview {
        flex-shrink: 0;

        @media (max-width: 599px) {
          width: 100px;
        }
    
        @media (min-width: 600px) {
          width: 200px;
        }
      }

      .abbr {
        height: 2rem;
        margin-bottom: 0.5rem;

        abbr {
          display: inline-block;
          background-color: var(--global-theme-color);
          padding-left: 1rem;
          padding-right: 1rem;

          a {
            color: white;

            &:hover {
              text-decoration: none;
            }
          }
        }

        .award {
          color: var(--global-theme-color) !important;
          border: 1px solid var(--global-theme-color);
        }
      }

      .title {
        font-weight: bolder;
      }

      .author {
        a {
          border-bottom: 1px dashed var(--global-theme-color);

          &:hover {
            border-bottom-style: solid;
            text-decoration: none;
          }
        }

        >em {
          border-bottom: 1px solid;
          font-style: normal;
        }

        >span.more-authors {
          color: var(--global-text-color-light);
          border-bottom: 1px dashed var(--global-text-color-light);
          cursor: pointer;

          &:hover {
            color: var(--global-text-color);
            border-bottom: 1px dashed var(--global-text-color);
          }
        }
      }

      .links {
        a.btn {
          border: 1px solid var(--global-text-color);
          padding-left: 1rem;
          padding-right: 1rem;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          margin-left: 0;

          &:hover {
            color: var(--global-theme-color);
            border-color: var(--global-theme-color);
          }
        }
      }

      .badges {
        padding-bottom: 0.5rem;
        span {
          display: inline-block;
          color: #000;
          height: 100%;
          padding-right: 0.5rem;
          vertical-align: middle;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .hidden {
        font-size: 0.875rem;
        max-height: 0px;
        overflow: hidden;
        text-align: justify;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease; @media (max-width: 599px) {
          .preview img {
            width: 100px;
            height: auto;
          }
        }
        
        @media (min-width: 600px) {
          .preview img {
            width: 200px;
            height: auto;
          }
        }
      }
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;

        p {
          line-height: 1.4em;
          margin: 10px;
        }

        pre {
          font-size: 1em;
          line-height: 1.4em;
          padding: 10px;
        }
      }

      .hidden.open {
        max-height: 100em;
        transition-property: 0.15s ease;
        -moz-transition: 0.15s ease;
        -ms-transition: 0.15s ease;
        -o-transition: 0.15s ease;
        transition: all 0.15s ease;
      }

      div.abstract.hidden {
        border: dashed 1px var(--global-bg-color);
      }

      div.abstract.hidden.open {
        border-color: var(--global-text-color);
      }
    }
  }

//-----------------------------
// Lab Resources
//-----------------------------
.lab-resources{

  .page {
    width: 100%;
  }
  
  // Crop the images in the feature row and center them vertically
  .archive__item-teaser {
    height: 200px;
    overflow: hidden;
    position: relative;
  }

  .archive__item-teaser img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

}

//-----------------------------
// Teaching
//-----------------------------
.teaching{

  .page {
    width: 100%;
  }

}

//-----------------------------
// Course
//-----------------------------
.course{

  #main {
    display: flex;
    justify-content: center;
  }

  .page {
    width: 90%;
    float: none;
  }

  .videos * {
    margin-bottom: 0.5em;
  }
}