//-----------------------------
// Research
//-----------------------------
.research {
  .page__content {
    margin-top: -40px;
  }

  h2 {
    border-bottom: 1.5px solid $secondary-color;
  }

  h3 {
    margin-top: 1em;
  }
}
